img{
    display: block;
    margin: 0 auto;
    max-width: 75%;
    /*clip-path: circle(30% at 50% 30%);*/
    /*at: coordenadas*/
    /*clip-path: ellipse(30% 30%);*/
    /*clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);*/
}